.bottom
{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template: 30px;
    padding-right: 50px;
}


.bottom .options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    color: white;
}

.cursor{
    cursor: pointer;
}

.bottom-btn
{
    display: flex;
    grid-template: 15px;
    color: white;
    cursor: pointer;
}

.bg-circle-white
{
    border-radius: 50%;
    padding:0 5px;
    background: white;
    color: black;
}