.titulo
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0 350px 0 30px;
    top: 30px;
    width: 100%;
    height: 50px;
    background: linear-gradient(115deg, #ddd3d8 57.7%, black 57.7%);
}

.titulo-esquerda
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.titulo-esquerda > p
{
    font-size: 28px;
    font-weight: 700;
}

.capturado-visto
{
    display: flex;
    align-items: center;
}

.capturado, .visto
{
    display: flex;
    align-items: center;
    background-color: #5a5a58;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px 20px;
    color: white;
}

.pokebola-img
{
    width: 25px;
    margin-right: 10px;
}